In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import sklearn.linear_model
import seaborn as sb


#Read file
data = pd.read_csv('Search data.csv')

In [17]:
def createDataSet(data):

    
    #read date column
    data['Date'] = pd.to_datetime(data['Date'])
    data.set_index('Date', inplace=True)
    
    #read Year and Month column
    data['Year'] = data.index.year
    data['Month'] = data.index.month

In [18]:
createDataSet(data)

In [19]:
data.head()

,Media Type,Device,Targeting,Region,Vendor,Campaign Type,Cost,Clicks,Year,Month
Date,,,,,,,,,,
2009-06-09,Search,Desktop,NB,AMS,Google,Legacy,0.0,0,2009,6
2009-06-18,Display,Desktop,Reach,AMS,Google,Reach,0.0,0,2009,6
2009-06-20,Search,Desktop,NB,EMEA,Google,Legacy,0.0,0,2009,6
2009-06-27,Search,Desktop,NB,AMS,Google,Legacy,0.0,0,2009,6
2009-06-28,Search,Desktop,NB,AMS,Google,Legacy,0.0,0,2009,6

In [47]:
def showValidation(data):
    print "SUMMARY BY YEAR: \n" + str(pd.pivot_table(data, index = 'Year', aggfunc = np.sum)) + "\n\n"
    print "SUMMARY BY MONTH IN 2016: \n" + str(pd.pivot_table(data[data['Year'] == 2016], index = 'Month', aggfunc = np.sum)) + "\n\n"
    print "SUMMARY BY MONTH IN 2015: \n" + str(pd.pivot_table(data[data['Year'] == 2015], index = 'Month', aggfunc = np.sum)) + "\n\n"
    print "by Month: " +str(data[['Cost']].resample('M').sum().sort_values(by='Cost').tail(10))

In [55]:
def compare2DataSets(data1,data2):
    print "Sum of cost in 2016 in dataset 1: " + str(data1[data1.Year == 2016].Cost.sum())
    print "Sum of cost in 2016 in dataset 2: " + str(data2[data2.Year == 2016].Cost.sum())
    if data1[data1.Year == 2016].Cost.sum() == data2[data2.Year == 2016].Cost.sum():
        print "Validation: TRUE"
    else:
        print "Validation: FALSE"
    
    print "\n\n"

In [56]:
compare2DataSets(data,data)

Sum of cost in 2016 in dataset 1: 15045083.72
Sum of cost in 2016 in dataset 2: 15045083.72
Validation: TRUE

In [48]:
showValidation(data)

SUMMARY BY YEAR:
        Clicks          Cost    Month
Year
2009         0  0.000000e+00     3772
2010         0  0.000000e+00     8470
2011         0  0.000000e+00    16274
2012         0  0.000000e+00    24503
2013   7787496  7.898229e+06   710045
2014   4531314  1.337718e+07  1167529
2015  16441722  1.889339e+07  3381129
2016  16652422  1.504508e+07  1960431


SUMMARY BY MONTH IN 2016:
         Clicks          Cost      Year
Month
1      10012798  1.122217e+06  31735872
2        815488  7.048080e+05  25028640
3        596994  1.394640e+06  32167296
4        570186  1.116195e+06  37797984
5        312284  9.168135e+05  32566464
6       1071808  1.857848e+06  59361120
7        476246  1.112798e+06  57984192
8        531572  1.290761e+06  70064064
9       1215470  2.744317e+06  90123264
10       815392  2.015591e+06  95294304
11       234184  7.690952e+05  33935328


SUMMARY BY MONTH IN 2015:
        Clicks         Cost       Year
Month
1       550346  1658692.474   37777220
2       513420  1554236.354   35048910
3       473500  1711640.748   34085740
4       488614  1724882.110   33674680
5       642282  1912626.506   29781700
6       369466  1506804.540   31264740
7       334092  1070514.600   34115965
8      1632616  1452524.600  170017640
9      1447972  1647836.160  202078305
10      798612  1387380.820  172131375
11      599266  1120207.320   28228135
12     8591536  2146047.740   56847180


by Month:                     Cost
Date
2015-09-30  1.647836e+06
2015-01-31  1.658692e+06
2015-03-31  1.711641e+06
2015-04-30  1.724882e+06
2014-11-30  1.743237e+06
2016-06-30  1.857847e+06
2015-05-31  1.912627e+06
2016-10-31  2.015591e+06
2015-12-31  2.146048e+06
2016-09-30  2.744317e+06